@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

body {
  background-color: rgb(167, 200, 190);
}
.container {
  /* width: 555px; */
  margin: 0 auto;
}

.card-fary {
  background-color: rgba(228, 228, 225, 0.995);
  padding: 24px 48px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
  margin: 17px 0;
}

h1, h2, h3 {
  font-family: "Acme", sans-serif;
  font-weight: 400;
  font-style: normal;
  color:rgb(32, 92, 74);
  font-size: large
}

h1 { font-size: 27px;
  color: rgb(32, 136, 127);
  font-style: normal;
}

.i, p {
  text-decoration: none;
  font-family: "Acme", sans-serif;
  font-weight: 100;
  font-size: large;
  color:rgb(26, 72, 78);
}

a, li {
  text-decoration: none;
  font-family: "Acme", sans-serif;
  font-weight: 400;
  font-style: x-large;
  color:rgb(39, 113, 87);
  padding: 0px;
}
a:hover {
  text-decoration: none;
  font-style: normal;
  font-size: 111%;
  color: rgb(87, 163, 170);
}

.img-circle {
  border-radius: 50%;
  height: 111px;
  width: 111px;
  object-fit: cover; /* stops image distortion when resizing */
}

#btn-red {
  background-color: rgb(176, 93, 107);
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  display: inline-block;
}

#btn-red:hover {
 background-color: rgb(175, 109, 120)
}

ul {
  text-decoration: none;
  margin: 3px 3px;
  padding: 0px;
}

.links {
  display: inline;
  margin: 7px 7px
}
